@using DMBuddy.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Games List</h3>

    <table border=1>
        <tr>
            <th>Name</th>
            <th>Action</th>   
        </tr>
        @Html.Partial("GamesPartials/GamesListPartial", (List<Combat>)@ViewBag.Combats)
        @if(@ViewBag.GameUpdateToggle == null){
            @Html.Partial("GamesPartials/CreateGamePartial")    
        }
    </table>
</body>
</html>




