@model DMBuddy.Models.UserViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

<h1>Register</h1>
<form action="/Register" method="Post">

    <label asp-for="Username"></label>
    <input asp-for="Username">
    <span class="error" asp-validation-for="Username"></span><br>

    <label asp-for="Password"></label>
    <input asp-for="Password">
    <span class="error" asp-validation-for="Password"></span><br>

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword">
    <span class="error" asp-validation-for="ConfirmPassword"></span><br>

    <input type="submit" value="Register">
</form>

<br>
<h4 class="error">@ViewBag.error</h4>

<h1>Login</h1>
<form action="Login" method="post">
    <label>Username: </label>
    <input type="text" name="LogUsername"><br>

    <label>Password: </label>
    <input type="password" name="LogPass"><br>

    <input type="submit" value="Login">
</form>

</body>
</html>